/*使用嵌套div
网格间隙使用外部div的padding隔开
内部div.content加border
使得代码兼容移动端*/
@media (min-width: 769px) {
	.col-f-1{
		width:  8.33333333%;
	}
	.col-f-2{
		width:  16.66666667%;
	}
	.col-f-3{
		width:  25%;
	}
	.col-f-4{
		width:  33.33333333%;
	}
	.col-f-6{
		width:  50%;
	}
}

@media (max-width: 769px){
	.col-n-2{
		width:  16.66666667%;
	}
	.col-n-3{
		width:  25%;
	}
	.col-n-4{
		width:  33.33333333%;
	}
	.col-n-6{
		width:  50%;
	}
	.col-n-8{
		width:  66.66666667%;
	}
	.col-n-12{
		width:  100%;
	}		
}
/* *{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} */
.wrapper{
	padding: 10px;
}
.row:before,.row:after{
	display: table;
	content: '';
	clear: both;
}
[class*='col-']{

	padding: 10px;/*gulter:空隙*/
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.content{
	height: 48px;
	border: 1px solid #999;
	background: #ccc;
}
