
::selection {
    background:#243B55; 
    color:#fff;
}

::-moz-selection {
    background:#243B55; 
    color:#fff;
}

::-webkit-selection {
    background:#243B55; 
    color:#fff;
}
*{
	font-family: 'Microsoft Yahei';
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ul li{
	list-style: none;
}

span.power,span.energy{
	font-weight: bold;
	color: #e73827;
}
fieldset{
	text-align: center;
}
.console{
	border: 1px solid #999;
	overflow: scroll;
	padding: 15px;
	width: 470px;
}
.console li{
	padding-bottom: 15px;
}
.container{
	display: flex;
	height: 880px;
	width: 1750px;

	margin: 50px auto;
}
.graphPanel{
	width: 820px;
}
.graphPanel{
	position: relative;
	z-index: 0;
}
#screen{
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
}
#background{
	z-index: 1;
	position: relative;
	background: #141E30;
	top: 0
}
ul{
	padding-left: 5px;
}
button{
    border: 1px solid #666;
    border-radius: 4px;
    padding: 2px 3px;
    width: 66px;
    text-align: center;
    color: #999;
    cursor: pointer;
    background: #fff;
    margin: 3px;
    outline: none;
}
button:hover{
	color: #000;
}
select{
	outline: none;
	height: 25px;
}
th {
    padding: 5px 10px;
    border-right: 1px solid #635f5f;
    border-bottom: 1px solid #635f5f;
}
td{
    border-right: 1px solid #635f5f;	
    border-bottom: 1px solid #635f5f;
}
table.data-table {
    border: 1px solid #635f5f;
    border-collapse: collapse;
    text-align: center;
}